.blue {
    background-color: #f5edde;
}

.match-tip {
    color: red;
    text-align: center;
    font-family: '微软雅黑';
    display: none;
}

.prize-container {
    margin: 0 auto;
    margin-bottom: 10%;
    text-align: center;
    /*height: 200px;*/
    width: auto;
    z-index: 8888;
    display: none;
}

.prize-logo {
    margin: 0 auto;
    margin-top: -48%;
    height: 100px;
    width: 100px;
    z-index: 9999;
}

.red-btn-desc {
    color: #fff;
}

.red-btn,
.yellow-btn{
    margin: 5% auto;
    width: 80%;
    display: none;
}
.red-btn {
    background-color: red;
}

.inner-4 {
    padding-bottom: 100px;
}

.yellow-btn {
    background-color: #fee349;
}

.yellow-btn-desc {
    color: #f93617;
}


