.bg-color{
    background-color: #fff;
}

.blue{
    background-color: #f93617;
}

.avatar{
    margin: 15% auto;
    margin-bottom: 15%;
    text-align: center;
    height: 200px;
    width: 200px;
}

.bottom-btn-desc{
    color: #fff;
}

.bottom-btn{
    margin: 5% auto;
    margin-top: -5%;
    width: 80%;
}
