.root {
  background: #e3ecf1;
  width: 100%;
  height: 100%;
}

.question1, .question2, .question3 {
  border-radius: 10px;
  background-color: #fff;
  margin: 0 5%;
}

.question1 {
  height: 60%;
  z-index: 999;
  opacity: 0.8;
}

.qs-container {
  position: relative;
  margin: 4% auto;
  padding: 2%;
  height: 80%;
  width: 90%;
}

.qs {
  height: 73px;
  margin: 19px;
}

.qs-button-container {
  position: relative;
  height: 20px;
  margin: 0 auto;
  width: 230px;
}

.qs-button {
  /*border: 2px solid #000;*/
  /*border-top: 1px solid rgba(76, 76, 76, 0.55);*/
  background-color: transparent;
  text-align: center;
}

.floatRight {
  float: right;
}

.displayNone {
  display: none;
}

.blur-1 {
  filter: blur(4px);
}

.rotary-container {
  position: relative;
  width: 255px;
  height: 375px;
  margin: 0 auto;
  margin-top: 10%;
}

.box {
  position: absolute;
  width: 70px;
  height: 70px;
  background: #000;
  border-radius: 40px;
  filter: blur(4px);
}

.box img {
  border-radius: 40px;
}

.dot {
  position: absolute;
  width: 90px;
  height: 90px;
  margin-left: -10px;
  margin-top: -10px;
  border-radius: 50px;
  transform: scale(1.4);
  border: 2px solid rgba(166, 214, 209, 0.69);
}

.dot img {
  border-radius: 50px;
}

.skip{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 130px;
}
